*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}
nav{
    
        position: fixed;
        width: 100%;
        top: 0%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(8, 8, 8);
        box-shadow: 0px 2px 6px 2px rgb(251, 247, 247); 
        padding: 22px; 
        color:rgb(85, 51, 238)
  
}
nav ul{
    margin-right: 63px;
    margin-top: 4px;
 
}
.logo{
    margin-left: 10px;
    font-size: 22px;
    color:rgb(27, 246, 27)
   
}
nav ul a{
    margin-inline: 10px;
    color: white;
    text-decoration: none;
}
nav ul a:hover{
    color: rgb(71, 226, 105);
    border-bottom: 2px solid rgb(34, 245, 34);
}
ul li{
    list-style:none;
}
ul li button{
    width: 100px;
    height:33px;
    background-color: rgb(26, 237, 40);
    border:none;
    color:white;
    font-size:18px;

}
nav button:hover{
    border: 2px solid rgb(236, 241, 236);
    background-color: transparent;
    color: rgb(42, 244, 42);
}

     /*main*/

.home{
    display: flex;
    justify-content: center;
    margin-top: 174px;

}   
.home img{
    width:20%;
    margin-top: 75px; 
    margin-left:174px; 
    height:70%  
}
.home.homeText{
    margin-top: 200px;
    margin-right: 44px;
    
}
.homeText h1{
    color: rgb(50, 246, 50) ;
    font-size : 85px;
    margin-right:200px ;

}
.homeText h3{
    font-size: 33px;
    margin-top: 22px;
}
.homeText p{
    color: silver;
    margin-top: 22px;

}
.homeText button{
    width: 140px;
    height: 40px;
    margin-top: 22px;
    background-color:rgb(2, 253, 2);
    color: white;
    border: none;
    font-size: 22px;
}
.homeText button:hover{
    border: 2px solid rgb(236, 241, 236);
    background-color: transparent;
    color: rgb(29, 237, 29);

}
/*program*/
.head{
    text-align: center;
    padding: 95px;

}
.head span{
    color:rgb(42, 241, 85)
}
.ourProgram{
    display:flex;
    justify-content: center;
}
.ourProgram .crd{
    margin-inline: 60px;
    text-align: center;
}
.ourProgram .crd img:hover{
    width:113%;
}

     /*plan*/

.ourPlan{
    display:flex;
    justify-content: center;

}     
.ourPlan .card{
    width:300px;
    height:400px;
    padding:30px;
    background-color:rgb(38, 38, 38) ;
    text-align: center;
    margin-inline:60px;
}
.card i{
    font-size: 22px;
    margin-top: 22px;
    color:orange
}

.card h3{
    margin-top: 22px;
    color: rgb(37, 227, 53);
}
.card h1{
    margin-top: 22px;
    color: rgb(37, 227, 53);
}
.card p{
    margin-top: 22px;
    color:silver;
}
.card button{
    margin-top:22px;
    width:130px;
    height:38px;
    background-color:rgb(70, 75, 221);
    border:none;
    color:white;
    font-size: 20px;
}
.card button:hover{
    
    border: 2px solid white;
    background-color: transparent;
    color: rgb(29, 237, 29);
    cursor:pointer;

}
.card:hover{
    transition: 0.7s ease;
    width:310px;
    height:400px;
    background-color: black;
    font-size: 20px;
    cursor:pointer;
}
/* blog*/
.ourBlog{
    display:flex;
    justify-content:center;

}

.ourBlog .blogCard{
    width: 300px;
    height: 400px;
    margin-inline: 32px;
    background-color: rgb(46, 45, 45);
    padding: 11px;
}
.blockCard img{
    width:100%;
}
.blogText p{
    margin-top:20px;

}
.blogText a{
    text-decoration: none;
    width:90px;
    padding:8px;
    background-color: rgb(22, 219, 51);
    color:white;
    position: absolute;
    margin-top:6px;
    cursor: pointer;

}
.blogText a:hover{
    border: 2px solid white;
    background-color: transparent;
    color: rgb(29, 237, 29);
    cursor:pointer;
}
.blogText{
    margin-top: 11px;
    margin-left: 6px;
}

/*content*/
.contentPage{
    display: flex;
    justify-content: center;
}

.contactText{
    margin-left:33px;
    color:rgb(40, 239, 79);
    margin-top: 134px;
    font-size: 32px;
}
.contactPage img{
    width: 50%;
    margin-left: 600px; 
    margin-top: -280px;
}
.contactUs{
    text-align: center;
    margin-top: 22px;
    text-decoration: underline rgb(43, 44, 50) ;

    

}
.contactUs input{
    width: 350px;
    padding: 10px;
    height: 33px;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 11px;
    font-size: 22px;
    margin-top: 18px;
}
.contactUs button{
    width: 365px;
    height: 42px;
    background-color: rgb(6, 220, 6);
    color: white;
    font-size: 27px;
    border: none;
    margin-top: 33px;
    border-radius: 2px;
}
.contactUs button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: rgb(29, 237, 29);
    cursor:pointer;

}

/*footer*/

.footer{
    display: flex;
    justify-content: space-around;
   
    padding: 22px;
    margin-top: 53px;
    box-shadow: 0px 2px 6px 2px rgb(50, 164, 222); 
}
.footer .footerText{
    margin-inline:73px;
    margin-top: 33px;
}  
.footerText p{
    margin-top: 11px;
    color: silver;
}



